body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #111;
  color: white;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: 0.2s all ease-in-out;
}

a {
  color: #aaa;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.App {
  height: 100%;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;

  img {
    width: 100%;
    height: 100%;
    filter: blur(25px);
  }
}

.queue {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;

    li {
      display: grid;
      grid-template-columns: 200px 1fr;
      padding-top: 5px;
      grid-gap: 10px;

      & > * {
        max-width: 100%;
      }

      a {
        font-weight: bold;
      }

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
      }

      span {
        display: block;
      }
    }
  }
}

input {
  background: rgba(90, 90, 90, 0.4);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

button {
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: white;
  }
}

.section {
  position: relative;
  padding: 20px;
}

.now-playing {
  .now-playing-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 300px 1fr;

    & > div {
      margin-left: 20px;

      button,
      .duration {
        margin-top: 5px;
      }
    }

    .thumbnail {
      position: relative;
      overflow: hidden;
      border-radius: 5px;

      img {
        box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        width: 100%;
        height: auto;
      }

      .shadow,
      .duration,
      .progress-bar {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
      }

      .shadow {
        box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.5);
      }

      .progress-bar {
        div {
          background: white;
          height: 2px;
        }
      }

      width: 100%;
      margin: 0;
    }
  }
}

.status {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  background: black;

  &.error {
    background: #991111;
  }
}

.flex-form {
  display: grid;
  grid-template-columns: 400px 200px;
  grid-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  color: #777;
}

h1,
h2,
h3 {
  margin: 0;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 720px) {
  .now-playing .now-playing-grid {
    margin-top: 10px;
    display: block;
    grid-template-columns: 100%;

    & > div {
      margin: 0;
    }

    button {
      width: 100%;
    }
  }

  .flex-form {
    display: block;

    input,
    button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
